---
import '../scss/pages/_homeIndex.scss';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Space Home' pageName='home'>
	<main>
		<article class='container'>
			<section class='section discribtion'>
				<h1 class='discribtion--title'>Data-Driven Strategy and Creativity</h1>
				<p class='discribtion--text'>
					As a digital marketing and web design agency, we fuse the power of
					data with technology, creativity and advertising to develop marketing
					strategies that reach the heart of your potential audience and achieve
					your business goals.
				</p>
			</section>
			<section>
				<a class='section btn-explore' href='/'>EXPLORE</a>
			</section>
		</article>
	</main>
</Layout>
